<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--  bothinah start -->
    <!-- bothinah End -->
    <!-- mohamed start -->
    <!-- mohamed End -->
    <!-- masoud start -->
    <!-- masoud End -->
    <!-- sara start -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                SecuredAdminManpulaion
            </web-resource-name>
            <!--<url-pattern>/AddAdminServlet</url-pattern>-->
            <!--<url-pattern>/DeleteAdminServlet</url-pattern>-->
            <url-pattern>/UpdateAdminServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>
                Only super Admin can add, delete and update info about anther normal admin
            </description>
            <role-name>superAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>superAdmin</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <!-- sara End -->
    <servlet>
        <servlet-name>AllUsers</servlet-name>
        <servlet-class>controller.user.GettingAllUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>controller.user.GettingOneUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdd</servlet-name>
        <servlet-class>controller.user.AddingOneUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <servlet-class>controller.user.UpdatingOneUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>controller.user.DeletingOneUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllOrders</servlet-name>
        <servlet-class>controller.order.GettingAllOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrders</servlet-name>
        <servlet-class>controller.order.GettingOneUserOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAdd</servlet-name>
        <servlet-class>controller.order.AddingOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDelete</servlet-name>
        <servlet-class>controller.order.DeletengOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewServlet</servlet-name>
        <servlet-class>controller.admin.AdminViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllUsers</servlet-name>
        <url-pattern>/AllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdd</servlet-name>
        <url-pattern>/UserAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/UserDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllOrders</servlet-name>
        <url-pattern>/AllOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrders</servlet-name>
        <url-pattern>/UserOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAdd</servlet-name>
        <url-pattern>/OrderAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDelete</servlet-name>
        <url-pattern>/OrderDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewServlet</servlet-name>
        <url-pattern>/AdminViewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
